@import url('https://fonts.googleapis.com/css?family=Castoro&display=swap');

span{
    font-family: 'Castoro', Arial;
}

.sheet-thecharacter,
.sheet-config,
.sheet-journal{
    display: none;
}

/* show the selected tab
{
    display: grid;
}
 */

.sheet-tabstoggle[value="character"] ~ div.sheet-thecharacter,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal{
    display: block;
}

.sheet-journal{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sheet-configuration{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sheet-thecharacter {
  grid-template-columns: 180px 180px 474px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "tab tab tab"
    "weapons weapons weapons"
    "bocu bocu bocu"
    "stats biom iteq"
    "stats biom iteq"
    "skills skills skills"
    "advdi advdi advdi";
}

.sheet-block{
  background-color: white;
  justify-content: center;
  padding: 3px;
  border: 3px solid black;
  font-family:'Castoro'
}

.sheet-switchtabs{ 
    grid-area: tab; 
    
}

.sheet-Character-Traits{ 
    grid-area: chatr; 
    
}

.sheet-Weapons{ 
    grid-area: weapons; 
    
}

.sheet-stats{ 
    grid-area: stats; 
    grid-template-columns:  84px 84px; 
    grid-template-rows: repeat(5, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "st st"
        "agi cha"
        "dex cun"
        "con will"
        "str luck"; 

}

.sheet-subblock{
    background-color: white;
    justify-content: center;
    padding: 3px;
    border: 2px solid black;
    font-family:'Castoro';
}

.sheet-substat{
    background-color: white;
    justify-content: center;
    padding: 3px;
    border: 1px solid black;
    font-family:'Castoro'
}

.sheet-traitdie{
    width: 74px;
}

.sheet-smstatistics{ 
    grid-area: st;
}

.sheet-agi{ 
    grid-area: agi;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.sheet-cha{ 
    grid-area: cha;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
}

.sheet-dex{ 
    grid-area: dex;
}

.sheet-cun{ 
    grid-area: cun;
}

.sheet-con{ 
    grid-area: con;
}

.sheet-will{ 
    grid-area: will;
}

.sheet-str{ 
    grid-area: str;
}

.sheet-luck{ 
    grid-area: luck;
}


.sheet-Biometrics{ 
    grid-area: biom;
    grid-template-columns: 84px 84px; 
    grid-template-rows: repeat(3, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "bio bio"
        "inju condi"
        "armo mov";
}

.sheet-biomenu{
    width: 40px;
}

.sheet-biom{ 
    grid-area: bio;
}

.sheet-inj{ 
    grid-area: inju;
}

.sheet-cond{ 
    grid-area: condi;
}

.sheet-arm{ 
    grid-area: armo;
}

.sheet-movement{ 
    grid-area: mov;
}

.sheet-Items-Equipment{ 
    grid-area: iteq;
    grid-template-columns: 230px 230px; 
    grid-template-rows: repeat(3, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "equip addit"
        "equip addit"
        "wealprop addit";
}

.sheet-equip{ 
    grid-area: equip;
}

.sheet-addit{ 
        grid-area: addit;
}

.sheet-wealprop{ 
    grid-area: wealprop;
}

.sheet-Skills{ 
    grid-area: skills; 
}

.sheet-Boons-Curses{ 
    grid-area: bocu; 
}

.sheet-Avantage-Disadvantage{ 
    grid-area: advdi; 
}
