.charsheet .sheet-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    "back back chatr"
    "weapons weapons weapons"
    "bocu bocu bocu"
    "stats biom iteq"
    "stats biom iteq"
    "skills skills skills";
}

.charsheet div.sheet-block{
  display: grid;
  background-color: white;
  justify-content: center;
  padding: 3px;
  border: 3px solid black;
}

.charsheet div.sheet-Backstory{ 
    grid-area: back; 
    
}

.charsheet div.sheet-Character-Traits{ 
    grid-area: chatr; 
    
}

.charsheet div.sheet-Weapons{ 
    grid-area: weapons; 
    
}

.charsheet div.sheet-Stats{ 
    grid-area: stats; 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "st st"
        "agi cha"
        "dex cun"
        "con will"
        "str luck"; 

}

.charsheet div.sheet-subblock{
  display: grid;
  background-color: white;
  justify-content: center;
  padding: 3px;
  border: 2px solid black;
}

.charsheet div.sheet-substat{
  display: grid;
  background-color: white;
  justify-content: center;
  padding: 3px;
  border: 1px solid black;
}

.charsheet div.sheet-st{ 
        grid-area: st;
}

.charsheet div.sheet-agi{ 
        grid-area: agi;
}

.charsheet div.sheet-cha{ 
        grid-area: cha;
}

.charsheet div.sheet-dex{ 
        grid-area: dex;
}

.charsheet div.sheet-cun{ 
        grid-area: cun;
}

.charsheet div.sheet-con{ 
        grid-area: con;
}

.charsheet div.sheet-will{ 
        grid-area: will;
}

.charsheet div.sheet-str{ 
        grid-area: str;
}

.charsheet div.sheet-luck{ 
        grid-area: luck;
}


.charsheet div.sheet-Biometrics{ 
    grid-area: biom;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "bio bio"
        "inj cond"
        "arm mov";
}

.charsheet div.sheet-biom{ 
        grid-area: bio;
}

.charsheet div.sheet-inj{ 
        grid-area: inj;
}

.charsheet div.sheet-cond{ 
        grid-area: cond;
}

.charsheet div.sheet-arm{ 
        grid-area: arm;
}

.charsheet div.sheet-mov{ 
        grid-area: mov;
}

.charsheet div.sheet-Items-Equipment{ 
    grid-area: iteq;
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    gap: 2px 2px; 
    grid-template-areas: 
        "equip addit"
        "equip addit"
        "wealprop addit";
}

.charsheet div.sheet-equip{ 
        grid-area: equip;
}

.charsheet div.sheet-addit{ 
        grid-area: addit;
}

.charsheet div.sheet-wealprop{ 
        grid-area: wealprop;
}

.charsheet div.sheet-Skills{ 
    grid-area: skills; 
}

.charsheet div.sheet-Boons-Curses{ 
    grid-area: bocu; 
}
